.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.carousel-images {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.carousel-images img {
    width: 100%;
    height: auto;
    display: none;
}

.carousel-images img.active {
    display: block;
}

button.prev, button.next {
    background-color: #BF8069;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}