.carousel {
    position: relative;
    width: 50%;
    max-width: 350px;
    margin: auto;
    overflow: hidden;
    background-color: #fff;
    cursor: pointer;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-inner .carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
  }
  
  .carousel-inner img {
    width: 100%;
    height: auto;
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #BF8069;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  .carousel-control.prev {
    left: 10px;
  }
  
  .carousel-control.next {
    right: 10px;
  }