html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Gluten', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f4f4f4;
}

header {
    width: 100%;
    background-color: #F7E7D8;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logoimg img {
    width: 20%;
    height: auto;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin: 0 15px;
    wrap: wrap;
}

.menu a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #BF8069;
    color: white;
}

.footer {
    width: 100vw;
    background-color: #BF8069;
    padding: 20px;
    margin-top: 20px;
}

.footer ul {
    list-style-type: none;
    font-size: 1rem;
    font-family: 'Gluten', sans-serif;
    margin: 2%;
    padding: 2%;
    display: flex;
    justify-content: center;
}

.footer a {
    color: black;
    text-decoration: none;
    padding: 20px;
    display: block;
    justify-content: space-between;
}

.footer a:hover {
    background-color: #F7E7D8;
    cursor: pointer;
}

body {
    background-color: #F7E7D8;
}

@media screen and (max-width: 600px) {
    header {
        font-size: 0.8rem;
    }
}