body {
    margin: 0;
    font-family: "gluten", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7E7D8;
}

h1 {
    padding-top: 2%;
    font-family: "gluten", sans-serif;
}

h2 {
    font-family: "gluten", sans-serif;
}

.termContainer {
    display: flex;
    padding: 5%;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}

.terms {
    font-family: "montserrat", sans-serif;
    padding: 5%;
    background-color: #fff;
}

header {
    background-color: #F7E7D8;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logoimg img {
    width: 30%;
    height: auto;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin: 0 15px;
    text-wrap: nowrap;
}

.menu a {
    color: black;
    font-family: "gluten", sans-serif;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1.5rem;
}

.menu a:hover {
    background-color: #BF8069;
    color: white;
}


.dropdown {
    display: none;
}

.opening {
    background-color: #A7C087;
    display: flex;
    width: 98vw;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 0px;
    color: #2D3F2B;
}



.footer {
    width: 100vw;
    background-color: #BF8069;
    padding: 20px;
    margin-top: 20px;
    bottom: 0;
}

.footer ul {
    list-style-type: none;
    font-size: 1rem;
    font-family: 'Gluten', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    color: black;
    text-decoration: none;
    padding: 20px;
    display: block;
}

.footer a:hover {
    background-color: #F7E7D8;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .header {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 20px;
        background-color: #F7E7D8;
    }
    
    .logoimg img {
        width: 30%;
        height: auto;
        margin-bottom: 10px;
    }


    .dropbtn1 {
        background-color: #BF8069;
        font-family: "montserrat", sans-serif;
        color: white;
        border: none;
        border-radius: 10%;
        padding: 15px;
        margin-left: 70%;
        margin-top: 0%;
        cursor: pointer;
        position: absolute;
        bottom: 45px;
    }
    
    .dropdown ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    
    .dropdown li {
        margin: 0 15px;
        text-wrap: nowrap;
    }
    
    .dropdown a {
        color: black;
        font-family: "gluten", sans-serif;
        text-decoration: none;
        padding: 10px 15px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }
    
    .dropdown a:hover {
        background-color: #BF8069;
        color: white;
    }
    h1 {
        display: block;
        text-align: center;
        font-size: 1rem;
    }
    .menu {
        display: none;
    }
    .dropdown {
        position: relative;
        display: inline-block;
        margin-left: 25%;
    }
       
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px #BF8069;
        z-index: 1;
        margin-top: 0;
    }
       
    .dropdown-content a {
        color: black;
        font-family: "montserrat", sans-serif;
        text-decoration: none;
        display: block;
        padding: 10px 20px;
    }
       
.dropdown-content a:hover {
    background-color: #BF8069; 
    color: white;
}
       
.dropdown:hover .dropdown-content,
.dropdown:focus-within .dropdown-content {
    display: block;
}
    
.dropdown:hover .dropbtn,
.dropdown:focus-within .dropbtn {
    background-color: #BF8069;
    color: white;
}
    .dropdown-content {
        width: 100%;
    }

    .opening {
        width: 96vw;
    }
    .footercontainer {
        flex-wrap: wrap;
    }
}