.createContainer {
    width: 80vw;
    background-color: #BF8069;
    padding: 20px;
    margin-top: 30px; 
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;  
}

.editContainer {
    width: 80vw;
    background-color: #BF8069;
    padding: 20px;
    margin-top: 30px; 
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto; 
}

.register-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #BF8069;
    border: none;
    border-radius: 5px;
    text-decoration: none; 
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-button:hover {
    background-color: #F2C4B3;
    color: black;
}

.loginForm {
    width: 80vw;;
    background-color: #BF8069;
    padding: 10%;
    margin-top: 30px; 
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerForm {
    width: 80vw;
    background-color: #BF8069;
    padding: 10%;
    margin-top: 30px; 
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.editPost {
    width: 80vw;
    background-color: #BF8069;
    padding: 20px;
    margin-top: 30px; 
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 90%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #F2C4B3;
    border-radius: 5px;
    font-size: 1rem;
}

.form-control:focus {
    border-color: #BF8069;
    outline: none;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

textarea.form-control {
    height: 150px;
    resize: vertical;
}

.btn-success {
    background-color: #F2C4B3;
    color: black;
    border: none;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-success:hover {
    background-color: #F7E7D8;
}