body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .singlePostContainer {
    display: inline-block;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }

  .adminContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }

  .feedContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .post {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .post h1 {
    font-family: "gluten", sans-serif;
    font-size: 24px;
    color: black;
    margin-top: 0;
  }
  
  .post p {
    color: black;
    font-family: "montserrat", sans-serif;
    font-size: 1.1rem;
    margin: 10px 0;
    line-height: 1.5;
    white-space: pre-line;
  }
  
  .media-container {
    margin: 15px 0;
    text-align: center;
  }
  
  .media-container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .post .body {
    font-size: 16px;
    color: black;
    margin: 15px 0;
  }
  
  .tagsContainer {
    margin-top: 15px;
  }
  
  .read-more-button {
    display: inline-block;
    background-color: #F2C4B3;
    font-family: "montserrat", sans-serif;
    color: black;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    margin-top: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .read-more-button:hover {
    background-color: #BF8069;
    color: white;
  }

  .updateButton {
    display: inline-block;
    background-color: #F2C4B3;
    font-family: "montserrat", sans-serif;
    color: black;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    margin-top: 5px;
    font-size: 1rem;
    cursor: pointer;
  }

  .delete-btn, .edit-btn {
    display: inline-block;
    background-color: #F2C4B3;
    font-family: "montserrat", sans-serif;
    color: black;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    margin-top: 5px;
    font-size: 1rem;
    cursor: pointer;
  }

  .delete-btn:hover {
    background-color: #BF8069;
    color: white;
  }

  .edit-btn:hover {
    background-color: #BF8069;
    color: white;
  }
  
  .tag {
    display: inline-block;
    font-family: "montserrat", sans-serif;
    background-color: #F2C4B3;
    color: white;
    padding: 5px 5px;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 1rem;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
  }
  
  @media (max-width: 1200px) {
    .feedContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .feedContainer {
      grid-template-columns: 1fr;
    }
  }